.creature-sheet {
    color: var(--text-body);
}

.creature-sheet strong {
    color: var(--text-light);
    font-style: italic;
}
.creature-sheet-main p {
    margin: 0;
}
.creature-sheet-header {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-light);
}
.creature-sheet-subheader {
    font-style: italic;
    color: var(--text-body);
}

.creature-sheet-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.creature-sheet-sub-stats p{
    margin: 0;
}

.creature-sheet-paragraph-title {
    font-size: 24px;
    color: var(--text-light);
    margin: 0;
}

.creature-sheet-underscore-container {
    position: relative; 
    height: 3px;
    margin: 0.5rem 0;
}

.creature-sheet-underscore {
    width:100%;
    aspect-ratio: 30;
    background-color: var(--text-light);
    clip-path: polygon(0 25%,100% 50%,0 75%);
}

.creature-sheet__actions h2,
.creature-sheet__legendary-actions h2 {
    margin: 0;
    color: var(--text-light);
}
br {
    height: 1px;
    color: var(--text-light);
}