<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
</body>
</html>
<div th:each="member : ${items}"
     class="table-row"
     th:data-id="${member.id}"
     th:data-template-id="${member.templateCreatureId}">
    <div th:if="${member.type == T(com.zonix.dndapp.entity.TurnItemType).INDIVIDUAL}" class="combatant-row">
        <div class="combatant-main" onclick="selectCombatant(this)">
            <div class="name-cell" th:text="${member.name}"></div>
            <div class="hp-cell" th:text="${member.currentHp} + '/' + ${member.maxHp}"></div>
            <div class="initiative-cell" th:text="${member.initiative}"></div>
        </div>
        <div class="action-cell">
            <button class="effects-btn" onclick="toggleHiddenContent(this)">
                <span class="toggle-icon">▼</span>
            </button>
        </div>
        <div class="expandable-content" style="display: none">
            <div class="effects-table">
                <div th:each="effect : ${T(com.zonix.dndapp.entity.StatusEffect).values()}"
                     class="effect-row">
                    <input type="checkbox"
                           th:id="${member.id} + '-' + ${effect}"
                           th:name="statusEffect"
                           th:value="${effect}"
                           th:checked="${member.statusEffects.contains(effect)}"
                           onchange="effectManager.queueUpdates(this)">
                    <label th:for="${member.id} + '-' + ${effect}"
                           th:text="${#strings.capitalize(#strings.toLowerCase(effect.name()))}">
                        Effect Name
                    </label>
                </div>

            </div>
        </div>
    </div>

    <div th:if="${member.type == T(com.zonix.dndapp.entity.TurnItemType).GROUP}" class="group-row">
        <div class="group-main" onclick="selectCombatant(this)">
            <div class="name-cell" th:text="${member.name}"></div>
            <div class="hp-cell"></div>
            <div class="initiative-cell" th:text="${member.initiative}"></div>
        </div>
        <div class="action-cell">
            <button class="effects-btn" onclick="toggleHiddenContent(this)">
                <span class="toggle-icon">▼</span>
            </button>
        </div>
        <div class="expandable-content" style="display: none">
            <div th:each="combatant : ${member.members}" class="group-member-row" th:attr="data-id=${combatant.id}" onclick="selectCombatant(this)">
                <div class="combatant-main">
                    <div class="name-cell" th:text="${combatant.name}"></div>
                    <div class="hp-cell" th:text="${combatant.currentHp} + '/' + ${combatant.maxHp}"></div>
                    <div class="initiative-cell" th:text="${member.initiative}"></div>
                </div>
            </div>

        </div>
    </div>
</div>
