.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.modal-overlay.open { 
    opacity: 1;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000050;
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.modal-container {
    position: relative;
    z-index: 1001;
    max-width: 500px;
    width: 100%;
    max-height: 90vh;
    
    transform: scale(0.95) translateY(-20px);
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.modal-container.open {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.modal-content {
    background: var(--bg-dark);
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
                0 10px 10px -5px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    max-height: inherit;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 1rem;
}

.modal-close-button {
    border: none;
    background: none;
}

.modal-close-button-svg {
    height: 2rem;
    width: 2rem;
    color: var(--text-body);
    transition: color 0.2s ease;
}

.modal-close-button-svg:hover {
    color: var(--alert-red);
    cursor: pointer;
    transition: color 0.2s ease;
}

.modal-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-body);
    line-height: 1.5;
}